dl{
    width: 500px;
    height: 500px;
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
dt,dd{
    margin: 0;
    width: 50%;
    /*padding: 10px 5px;*/
    /*box-sizing: border-box;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
}