.test{
    width: 200px;
    height: 100px;
    margin:50px 60px;

    border: 1px solid #efefef;
    border-radius: 25px;
    box-shadow:inset 2px 2px 2px 5px lightcoral;
    /*background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) ;*/
    /*线性渐变 x轴偏移量 y轴偏移量 阴影模糊半径 阴影扩散半径 颜色*/
    /*background: radial-gradient(red 20%,orange 30%,yellow 50%);*/
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000000;
    text-shadow: 2px 5px 5px #FF0000;/*水平阴影 垂直阴影 模糊距离 阴影颜色*/
    position: relative;
}
.test::after{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 15px 20px rgba(0,0,0,.3);
    width: 70%;
    height: 100px;
    left: 15%;
    bottom: 0;
}
.card{
    margin: 0 20px;
    width: 250px;
    height: 306px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    /*transform: rotate(0deg) translate(50px,100px) scale(0.8);*/
    animation: animate 3s infinite;
    /*box-shadow: -1px 2px 2px 4px #D0D0D0;*/
}
@keyframes animate {
    from{
        background: red;
    }
    to{
        background: yellow;
    }
}
@-webkit-keyframes animate {
    from{
        background: red;
    }
    to{
        background: yellow;
    }
}
.top{
    height:233px;
    background: #4CAF50;
    color: #ffffff;
    font-size:80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    height: 76px;
    color: #333333;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: initial;/*取值 ellipsis|clip|initial|inherit */
}
.break{
    width: 200px;
    border: 1px solid #dddddd;
    padding: 10px;
    word-break: keep-all;/*取值break-word|keep-all|break-all|*/
}