.heart{
    position: relative;
    width: 100px;
    height: 90px;
    animation:heartBeat .8s infinite;
    margin:100px 0 0 120px;
}
.heart:before,.heart:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    background: red;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    -moz-border-radius:50px 50px 0 0 ;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin:  0 100%;
    -o-transform: rotate(-45deg);
    -o-transform-origin:  0 100%;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin:  0 100%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin:  0 100%;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -o-transform: rotate(45deg);
    -o-transform-origin:  100% 100%;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: 100% 100%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 100% 100%;

}
@keyframes heartBeat {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}
@-webkit-keyframes heartBeat {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}