.milky-way{
    max-width: 800px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background: #000000;
    padding: 0;
    transform: scale(1);
}
.sun{
    width:90px;
    height: 90px;
    position: absolute;
    left: 357px;
    top: 357px;
    background: url("../images/sun.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(248,107,35),-5px -5px 10px rgb(248,107,35), 5px -5px 10px rgb(248,107,35),-5px 5px 10px rgb(248,107,35);
    margin: 0;
}
.mercury-orbit{
    position: absolute;
    left: 342px;
    top: 342px;
    width: 115px;
    height: 115px;
    background: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    margin: 0;
    padding: 0;
}
.mercury{
    width: 10px;
    height: 10px;
    background:url("../images/mercury.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 337px;
    top: 395px;
    transform-origin: 62px 5px;
    animation: rotate 1.5s infinite linear;
}
.venus-orbit{
    position: absolute;
    left: 320px;
    top: 320px;
    width: 160px;
    height: 160px;
    background: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    margin: 0;
    padding: 0;
}
.venus{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background:url("../images/venus.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 389px;
    left: 309px;
    transform-origin: 91px 11px;
    animation: rotate 3.84s infinite linear;
}
.earth-orbit{
    left:275px;
    top:275px;
    height: 250px;
    width: 250px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}
.earth{
    left:266.5px;
    top:391px;
    height: 18px;
    width: 18px;
    background: url("../images/earth.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 134px 9px;
    animation: rotate 6.25s infinite linear;
}
.mars-orbit{
    left:230px;
    top:230px;
    height: 340px;
    width: 340px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}
.mars{
    left:222.5px;
    top:392.5px;
    height: 15px;
    width: 15px;
    background:url("../images/mars.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 177.5px 7.5px;
    animation: rotate 11.75s infinite linear;
}
.jupiter {
    left:134px;
    top:379px;
    height: 42px;
    width: 42px;
    background:url("../images/jupiter.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 266px 21px;
    animation: rotate 74.04s infinite linear;
}

/*木星轨道*/
.jupiter-orbit {
    left:155px;
    top:155px;
    height: 490px;
    width: 490px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}

/*土星*/
.saturn {
    left:92px;
    top:387px;
    height: 26px;
    width: 26px;
    background:url("../images/saturn.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 308px 13px;
    animation: rotate 183.92s infinite linear;
}

/*土星轨道*/
.saturn-orbit {
    left:105px;
    top:105px;
    height: 590px;
    width: 590px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}

/*天王星*/
.uranus {
    left:41.5px;
    top:386.5px;
    height: 27px;
    width: 27px;
    background:url("../images/uranus.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 358.5px 13.5px;
    animation: rotate 524.46s infinite linear;
}

/*天王星轨道*/
.uranus-orbit {
    left:55px;
    top:55px;
    height: 690px;
    width: 690px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}

.neptune {
    left:10px;
    top:390px;
    height: 20px;
    width: 20px;
    background:url("../images/neptune.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform-origin: 390px 10px;
    animation: rotate 1028.76s infinite linear;
}

.neptune-orbit {
    left:20px;
    top:20px;
    height: 760px;
    width: 760px;
    background-color: transparent;
    border-radius: 50%;
    border:1px dashed gray;
    position: absolute;
    margin: 0;
    padding: 0;
}

@keyframes rotate {
    100%{
        transform: rotate(-360deg);
    }
}